<div class="hanzi">
  {{Hanzi}} 
</div>
<div class="pinyin">
  {{Pinyin}}
</div>

<div id="chinese" class="definition">
  {{ChineseDefinition}}
</div>

<div id="english" class="definition"></div>

<div class="image">
  {{Images}}
</div>

<div id="sentence" class="sentence small">
  {{ExampleSentence}}
</div>

<div id="translation" class="sentence small"></div>

<div class="audio">
  {{HanziAudio}} {{SentenceAudio}}
</div>

<script>
function insertIfNonEmpty(dest, contents) {
  if (contents.length > 0) {
    const elem = document.getElementById(dest);
    elem.innerHTML = contents
  }
}

function hintify(dest, contents, hintText) {
  if (contents.length > 0) {
    const elem = document.getElementById(dest)
      
    const link = document.createElement('a'); 
    link.textContent = hintText;
    link.className = 'hint';
    link.style.display='inline-block';

    const div = document.createElement('div'); 
    div.innerHTML = contents; 
    div.style.display='none';
    div.className = 'hint';

    link.addEventListener('click', function(event) {
        event.preventDefault(); 
        link.style.display='none';
        div.style.display='inline-block';
    });

    elem.appendChild(link); 
    elem.appendChild(div); 
  }
}

exampleSentence = '{{ExampleSentence}}';
englishDefinition = '{{EnglishDefinition}}';
chineseDefinition = '{{ChineseDefinition}}';

if (chineseDefinition.length > 0) {
  hintify('english', englishDefinition,
          'Show English Definition')
} else {
  insertIfNonEmpty('english', englishDefinition);
}

hintify('translation', '{{SentenceTranslation}}',
        'Show Translation');
</script>
