<div id="hanzi" class="hanzi"></div>

<div id="sentence" class="sentence"></div>

<script>
function insertIfNonEmpty(dest, contents) {
  if (contents.length > 0) {
    const elem = document.getElementById(dest);
    elem.innerHTML = contents
  }
}

sentence = "{{ExampleSentence}}";
hanzi = "{{Hanzi}}"

if (sentence.length > 0) {
  var yellowHanzi = hanzi.fontcolor("yellow");
  var highlighted = sentence.replaceAll(hanzi, yellowHanzi);
  document.getElementById("sentence").innerHTML = highlighted;
}
else {
  insertIfNonEmpty("hanzi", hanzi);
}
</script>
