.hide {
	display: none;
}

.card {
 font-family: Georgia; 
 font-size: 10px; 
 text-align: left; 
 background-color: rgb(47,47,49);
 color: #fff;
 padding: 5px;
}

.hanzi {
 font-size: 78px;
 margin-top: 20px;
}

.sentence {
 font-size:40px; 
 text-align:left;
 transition: padding 0.5s ease;
}

.sentence.small {
 font-size:30px; 
}

.pinyin {
 font-size: 22px; 
 color: #55DD55;
 text-align: left;
}

.definition {
 font-size: 16px;
}

.image {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
	margin: 0 20px;
  padding: 15px
}

img {
  max-width: 500px;
  max-height: 100%;
  height: auto;
}

a.hint{
  font-size: 12px;
	text-align: center;
  border: 1px solid;
  padding: 5px;
  border-radius: 3px;
	color: #ff3333
}
